<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Automatizate</title>
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
</head>
<body>
    <div class="container p-4">
        <div class="row" id="products"></div>
    </div>

    <script>
        const electron = require('electron')
        const products = document.querySelector('#products');


    </script>



</body>
</html>